* {
  --gray0-color: 250 250 250;
  --gray1-color: 245 245 245;
  --gray2-color: 229 229 229;
  --gray3-color: 212 212 212;
  --gray4-color: 163 163 163;
  --gray5-color: 115 115 115;
  --gray6-color: 82 82 82;
  --gray7-color: 64 64 64;
  --gray8-color: 38 38 38;
  --gray9-color: 23 23 23;
  --red0-color: 254 242 242;
  --red1-color: 254 226 226;
  --red2-color: 254 202 202;
  --red3-color: 252 165 165;
  --red4-color: 248 113 113;
  --red5-color: 239 68 68;
  --red6-color: 220 38 38;
  --red7-color: 185 28 28;
  --red8-color: 153 27 27;
  --red9-color: 127 29 29;
  --orange0-color: 255 247 237;
  --orange1-color: 255 237 213;
  --orange2-color: 254 215 170;
  --orange3-color: 253 186 116;
  --orange4-color: 251 146 60;
  --orange5-color: 249 115 22;
  --orange6-color: 234 88 12;
  --orange7-color: 194 65 12;
  --orange8-color: 154 52 18;
  --orange9-color: 124 45 18;
  --amber0-color: 255 251 235;
  --amber1-color: 254 243 199;
  --amber2-color: 253 230 138;
  --amber3-color: 252 211 77;
  --amber4-color: 251 191 36;
  --amber5-color: 245 158 11;
  --amber6-color: 217 119 6;
  --amber7-color: 180 83 9;
  --amber8-color: 146 64 14;
  --amber9-color: 120 53 15;
  --yellow0-color: 254 252 232;
  --yellow1-color: 254 249 195;
  --yellow2-color: 254 240 138;
  --yellow3-color: 253 224 71;
  --yellow4-color: 250 204 21;
  --yellow5-color: 234 179 8;
  --yellow6-color: 202 138 4;
  --yellow7-color: 161 98 7;
  --yellow8-color: 133 77 14;
  --yellow9-color: 113 63 18;
  --lime0-color: 247 254 231;
  --lime1-color: 236 252 203;
  --lime2-color: 217 249 157;
  --lime3-color: 190 242 100;
  --lime4-color: 163 230 53;
  --lime5-color: 132 204 22;
  --lime6-color: 101 163 13;
  --lime7-color: 77 124 15;
  --lime8-color: 63 98 18;
  --lime9-color: 54 83 20;
  --green0-color: 240 253 244;
  --green1-color: 220 252 231;
  --green2-color: 187 247 208;
  --green3-color: 134 239 172;
  --green4-color: 74 222 128;
  --green5-color: 34 197 94;
  --green6-color: 22 163 74;
  --green7-color: 21 128 61;
  --green8-color: 22 101 52;
  --green9-color: 20 83 45;
  --emerald0-color: 236 253 245;
  --emerald1-color: 209 250 229;
  --emerald2-color: 167 243 208;
  --emerald3-color: 110 231 183;
  --emerald4-color: 52 211 153;
  --emerald5-color: 16 185 129;
  --emerald6-color: 5 150 105;
  --emerald7-color: 4 120 87;
  --emerald8-color: 6 95 70;
  --emerald9-color: 6 78 59;
  --teal0-color: 240 253 250;
  --teal1-color: 204 251 241;
  --teal2-color: 153 246 228;
  --teal3-color: 94 234 212;
  --teal4-color: 45 212 191;
  --teal5-color: 20 184 166;
  --teal6-color: 13 148 136;
  --teal7-color: 15 118 110;
  --teal8-color: 17 94 89;
  --teal9-color: 19 78 74;
  --cyan0-color: 236 254 255;
  --cyan1-color: 207 250 254;
  --cyan2-color: 165 243 252;
  --cyan3-color: 103 232 249;
  --cyan4-color: 34 211 238;
  --cyan5-color: 6 182 212;
  --cyan6-color: 8 145 178;
  --cyan7-color: 14 116 144;
  --cyan8-color: 21 94 117;
  --cyan9-color: 22 78 99;
  --sky0-color: 240 249 255;
  --sky1-color: 224 242 254;
  --sky2-color: 186 230 253;
  --sky3-color: 125 211 252;
  --sky4-color: 56 189 248;
  --sky5-color: 14 165 233;
  --sky6-color: 2 132 199;
  --sky7-color: 3 105 161;
  --sky8-color: 7 89 133;
  --sky9-color: 12 74 110;
  --blue0-color: 239 246 255;
  --blue1-color: 219 234 254;
  --blue2-color: 191 219 254;
  --blue3-color: 147 197 253;
  --blue4-color: 96 165 250;
  --blue5-color: 59 130 246;
  --blue6-color: 37 99 235;
  --blue7-color: 29 78 216;
  --blue8-color: 30 64 175;
  --blue9-color: 30 58 138;
  --indigo0-color: 238 242 255;
  --indigo1-color: 224 231 255;
  --indigo2-color: 199 210 254;
  --indigo3-color: 165 180 252;
  --indigo4-color: 129 140 248;
  --indigo5-color: 99 102 241;
  --indigo6-color: 79 70 229;
  --indigo7-color: 67 56 202;
  --indigo8-color: 55 48 163;
  --indigo9-color: 49 46 129;
  --violet0-color: 245 243 255;
  --violet1-color: 237 233 254;
  --violet2-color: 221 214 254;
  --violet3-color: 196 181 253;
  --violet4-color: 167 139 250;
  --violet5-color: 139 92 246;
  --violet6-color: 124 58 237;
  --violet7-color: 109 40 217;
  --violet8-color: 91 33 182;
  --violet9-color: 76 29 149;
  --purple0-color: 250 245 255;
  --purple1-color: 243 232 255;
  --purple2-color: 233 213 255;
  --purple3-color: 216 180 254;
  --purple4-color: 192 132 252;
  --purple5-color: 168 85 247;
  --purple6-color: 147 51 234;
  --purple7-color: 126 34 206;
  --purple8-color: 107 33 168;
  --purple9-color: 88 28 135;
  --fuchsia0-color: 253 244 255;
  --fuchsia1-color: 250 232 255;
  --fuchsia2-color: 245 208 254;
  --fuchsia3-color: 240 171 252;
  --fuchsia4-color: 232 121 249;
  --fuchsia5-color: 217 70 239;
  --fuchsia6-color: 192 38 211;
  --fuchsia7-color: 162 28 175;
  --fuchsia8-color: 134 25 143;
  --fuchsia9-color: 112 26 117;
  --pink0-color: 253 242 248;
  --pink1-color: 252 231 243;
  --pink2-color: 251 207 232;
  --pink3-color: 249 168 212;
  --pink4-color: 244 114 182;
  --pink5-color: 236 72 153;
  --pink6-color: 219 39 119;
  --pink7-color: 190 24 93;
  --pink8-color: 157 23 77;
  --pink9-color: 131 24 67;
  --rose0-color: 255 241 242;
  --rose1-color: 255 228 230;
  --rose2-color: 254 205 211;
  --rose3-color: 253 164 175;
  --rose4-color: 251 113 133;
  --rose5-color: 244 63 94;
  --rose6-color: 225 29 72;
  --rose7-color: 190 18 60;
  --rose8-color: 159 18 57;
  --rose9-color: 136 19 55;
  --gray0-cool: 249 250 251;
  --gray1-cool: 243 244 246;
  --gray2-cool: 229 231 235;
  --gray3-cool: 209 213 219;
  --gray4-cool: 156 163 175;
  --gray5-cool: 107 114 128;
  --gray6-cool: 75 85 99;
  --gray7-cool: 55 65 81;
  --gray8-cool: 31 41 55;
  --gray9-cool: 17 24 39;
  --gray0-warm: 250 250 249;
  --gray1-warm: 245 245 244;
  --gray2-warm: 231 229 228;
  --gray3-warm: 214 211 209;
  --gray4-warm: 168 162 158;
  --gray5-warm: 120 113 108;
  --gray6-warm: 87 83 78;
  --gray7-warm: 68 64 60;
  --gray8-warm: 41 37 36;
  --gray9-warm: 28 25 23;
}
:root {
  color-scheme: dark light;
  --gray0: var(--gray0-color);
  --gray1: var(--gray1-color);
  --gray2: var(--gray2-color);
  --gray3: var(--gray3-color);
  --gray4: var(--gray4-color);
  --gray5: var(--gray5-color);
  --gray6: var(--gray6-color);
  --gray7: var(--gray7-color);
  --gray8: var(--gray8-color);
  --gray9: var(--gray9-color);
  --red0: var(--red0-color);
  --red1: var(--red1-color);
  --red2: var(--red2-color);
  --red3: var(--red3-color);
  --red4: var(--red4-color);
  --red5: var(--red5-color);
  --red6: var(--red6-color);
  --red7: var(--red7-color);
  --red8: var(--red8-color);
  --red9: var(--red9-color);
  --orange0: var(--orange0-color);
  --orange1: var(--orange1-color);
  --orange2: var(--orange2-color);
  --orange3: var(--orange3-color);
  --orange4: var(--orange4-color);
  --orange5: var(--orange5-color);
  --orange6: var(--orange6-color);
  --orange7: var(--orange7-color);
  --orange8: var(--orange8-color);
  --orange9: var(--orange9-color);
  --amber0: var(--amber0-color);
  --amber1: var(--amber1-color);
  --amber2: var(--amber2-color);
  --amber3: var(--amber3-color);
  --amber4: var(--amber4-color);
  --amber5: var(--amber5-color);
  --amber6: var(--amber6-color);
  --amber7: var(--amber7-color);
  --amber8: var(--amber8-color);
  --amber9: var(--amber9-color);
  --yellow0: var(--yellow0-color);
  --yellow1: var(--yellow1-color);
  --yellow2: var(--yellow2-color);
  --yellow3: var(--yellow3-color);
  --yellow4: var(--yellow4-color);
  --yellow5: var(--yellow5-color);
  --yellow6: var(--yellow6-color);
  --yellow7: var(--yellow7-color);
  --yellow8: var(--yellow8-color);
  --yellow9: var(--yellow9-color);
  --lime0: var(--lime0-color);
  --lime1: var(--lime1-color);
  --lime2: var(--lime2-color);
  --lime3: var(--lime3-color);
  --lime4: var(--lime4-color);
  --lime5: var(--lime5-color);
  --lime6: var(--lime6-color);
  --lime7: var(--lime7-color);
  --lime8: var(--lime8-color);
  --lime9: var(--lime9-color);
  --green0: var(--green0-color);
  --green1: var(--green1-color);
  --green2: var(--green2-color);
  --green3: var(--green3-color);
  --green4: var(--green4-color);
  --green5: var(--green5-color);
  --green6: var(--green6-color);
  --green7: var(--green7-color);
  --green8: var(--green8-color);
  --green9: var(--green9-color);
  --emerald0: var(--emerald0-color);
  --emerald1: var(--emerald1-color);
  --emerald2: var(--emerald2-color);
  --emerald3: var(--emerald3-color);
  --emerald4: var(--emerald4-color);
  --emerald5: var(--emerald5-color);
  --emerald6: var(--emerald6-color);
  --emerald7: var(--emerald7-color);
  --emerald8: var(--emerald8-color);
  --emerald9: var(--emerald9-color);
  --teal0: var(--teal0-color);
  --teal1: var(--teal1-color);
  --teal2: var(--teal2-color);
  --teal3: var(--teal3-color);
  --teal4: var(--teal4-color);
  --teal5: var(--teal5-color);
  --teal6: var(--teal6-color);
  --teal7: var(--teal7-color);
  --teal8: var(--teal8-color);
  --teal9: var(--teal9-color);
  --cyan0: var(--cyan0-color);
  --cyan1: var(--cyan1-color);
  --cyan2: var(--cyan2-color);
  --cyan3: var(--cyan3-color);
  --cyan4: var(--cyan4-color);
  --cyan5: var(--cyan5-color);
  --cyan6: var(--cyan6-color);
  --cyan7: var(--cyan7-color);
  --cyan8: var(--cyan8-color);
  --cyan9: var(--cyan9-color);
  --sky0: var(--sky0-color);
  --sky1: var(--sky1-color);
  --sky2: var(--sky2-color);
  --sky3: var(--sky3-color);
  --sky4: var(--sky4-color);
  --sky5: var(--sky5-color);
  --sky6: var(--sky6-color);
  --sky7: var(--sky7-color);
  --sky8: var(--sky8-color);
  --sky9: var(--sky9-color);
  --blue0: var(--blue0-color);
  --blue1: var(--blue1-color);
  --blue2: var(--blue2-color);
  --blue3: var(--blue3-color);
  --blue4: var(--blue4-color);
  --blue5: var(--blue5-color);
  --blue6: var(--blue6-color);
  --blue7: var(--blue7-color);
  --blue8: var(--blue8-color);
  --blue9: var(--blue9-color);
  --indigo0: var(--indigo0-color);
  --indigo1: var(--indigo1-color);
  --indigo2: var(--indigo2-color);
  --indigo3: var(--indigo3-color);
  --indigo4: var(--indigo4-color);
  --indigo5: var(--indigo5-color);
  --indigo6: var(--indigo6-color);
  --indigo7: var(--indigo7-color);
  --indigo8: var(--indigo8-color);
  --indigo9: var(--indigo9-color);
  --violet0: var(--violet0-color);
  --violet1: var(--violet1-color);
  --violet2: var(--violet2-color);
  --violet3: var(--violet3-color);
  --violet4: var(--violet4-color);
  --violet5: var(--violet5-color);
  --violet6: var(--violet6-color);
  --violet7: var(--violet7-color);
  --violet8: var(--violet8-color);
  --violet9: var(--violet9-color);
  --purple0: var(--purple0-color);
  --purple1: var(--purple1-color);
  --purple2: var(--purple2-color);
  --purple3: var(--purple3-color);
  --purple4: var(--purple4-color);
  --purple5: var(--purple5-color);
  --purple6: var(--purple6-color);
  --purple7: var(--purple7-color);
  --purple8: var(--purple8-color);
  --purple9: var(--purple9-color);
  --fuchsia0: var(--fuchsia0-color);
  --fuchsia1: var(--fuchsia1-color);
  --fuchsia2: var(--fuchsia2-color);
  --fuchsia3: var(--fuchsia3-color);
  --fuchsia4: var(--fuchsia4-color);
  --fuchsia5: var(--fuchsia5-color);
  --fuchsia6: var(--fuchsia6-color);
  --fuchsia7: var(--fuchsia7-color);
  --fuchsia8: var(--fuchsia8-color);
  --fuchsia9: var(--fuchsia9-color);
  --pink0: var(--pink0-color);
  --pink1: var(--pink1-color);
  --pink2: var(--pink2-color);
  --pink3: var(--pink3-color);
  --pink4: var(--pink4-color);
  --pink5: var(--pink5-color);
  --pink6: var(--pink6-color);
  --pink7: var(--pink7-color);
  --pink8: var(--pink8-color);
  --pink9: var(--pink9-color);
  --rose0: var(--rose0-color);
  --rose1: var(--rose1-color);
  --rose2: var(--rose2-color);
  --rose3: var(--rose3-color);
  --rose4: var(--rose4-color);
  --rose5: var(--rose5-color);
  --rose6: var(--rose6-color);
  --rose7: var(--rose7-color);
  --rose8: var(--rose8-color);
  --rose9: var(--rose9-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --gray0: var(--gray9-color);
    --gray1: var(--gray8-color);
    --gray2: var(--gray7-color);
    --gray3: var(--gray6-color);
    --gray4: var(--gray5-color);
    --gray5: var(--gray4-color);
    --gray6: var(--gray3-color);
    --gray7: var(--gray2-color);
    --gray8: var(--gray1-color);
    --gray9: var(--gray0-color);
    --red0: var(--red9-color);
    --red1: var(--red8-color);
    --red2: var(--red7-color);
    --red3: var(--red6-color);
    --red4: var(--red5-color);
    --red5: var(--red4-color);
    --red6: var(--red3-color);
    --red7: var(--red2-color);
    --red8: var(--red1-color);
    --red9: var(--red0-color);
    --orange0: var(--orange9-color);
    --orange1: var(--orange8-color);
    --orange2: var(--orange7-color);
    --orange3: var(--orange6-color);
    --orange4: var(--orange5-color);
    --orange5: var(--orange4-color);
    --orange6: var(--orange3-color);
    --orange7: var(--orange2-color);
    --orange8: var(--orange1-color);
    --orange9: var(--orange0-color);
    --amber0: var(--amber9-color);
    --amber1: var(--amber8-color);
    --amber2: var(--amber7-color);
    --amber3: var(--amber6-color);
    --amber4: var(--amber5-color);
    --amber5: var(--amber4-color);
    --amber6: var(--amber3-color);
    --amber7: var(--amber2-color);
    --amber8: var(--amber1-color);
    --amber9: var(--amber0-color);
    --yellow0: var(--yellow9-color);
    --yellow1: var(--yellow8-color);
    --yellow2: var(--yellow7-color);
    --yellow3: var(--yellow6-color);
    --yellow4: var(--yellow5-color);
    --yellow5: var(--yellow4-color);
    --yellow6: var(--yellow3-color);
    --yellow7: var(--yellow2-color);
    --yellow8: var(--yellow1-color);
    --yellow9: var(--yellow0-color);
    --lime0: var(--lime9-color);
    --lime1: var(--lime8-color);
    --lime2: var(--lime7-color);
    --lime3: var(--lime6-color);
    --lime4: var(--lime5-color);
    --lime5: var(--lime4-color);
    --lime6: var(--lime3-color);
    --lime7: var(--lime2-color);
    --lime8: var(--lime1-color);
    --lime9: var(--lime0-color);
    --green0: var(--green9-color);
    --green1: var(--green8-color);
    --green2: var(--green7-color);
    --green3: var(--green6-color);
    --green4: var(--green5-color);
    --green5: var(--green4-color);
    --green6: var(--green3-color);
    --green7: var(--green2-color);
    --green8: var(--green1-color);
    --green9: var(--green0-color);
    --emerald0: var(--emerald9-color);
    --emerald1: var(--emerald8-color);
    --emerald2: var(--emerald7-color);
    --emerald3: var(--emerald6-color);
    --emerald4: var(--emerald5-color);
    --emerald5: var(--emerald4-color);
    --emerald6: var(--emerald3-color);
    --emerald7: var(--emerald2-color);
    --emerald8: var(--emerald1-color);
    --emerald9: var(--emerald0-color);
    --teal0: var(--teal9-color);
    --teal1: var(--teal8-color);
    --teal2: var(--teal7-color);
    --teal3: var(--teal6-color);
    --teal4: var(--teal5-color);
    --teal5: var(--teal4-color);
    --teal6: var(--teal3-color);
    --teal7: var(--teal2-color);
    --teal8: var(--teal1-color);
    --teal9: var(--teal0-color);
    --cyan0: var(--cyan9-color);
    --cyan1: var(--cyan8-color);
    --cyan2: var(--cyan7-color);
    --cyan3: var(--cyan6-color);
    --cyan4: var(--cyan5-color);
    --cyan5: var(--cyan4-color);
    --cyan6: var(--cyan3-color);
    --cyan7: var(--cyan2-color);
    --cyan8: var(--cyan1-color);
    --cyan9: var(--cyan0-color);
    --sky0: var(--sky9-color);
    --sky1: var(--sky8-color);
    --sky2: var(--sky7-color);
    --sky3: var(--sky6-color);
    --sky4: var(--sky5-color);
    --sky5: var(--sky4-color);
    --sky6: var(--sky3-color);
    --sky7: var(--sky2-color);
    --sky8: var(--sky1-color);
    --sky9: var(--sky0-color);
    --blue0: var(--blue9-color);
    --blue1: var(--blue8-color);
    --blue2: var(--blue7-color);
    --blue3: var(--blue6-color);
    --blue4: var(--blue5-color);
    --blue5: var(--blue4-color);
    --blue6: var(--blue3-color);
    --blue7: var(--blue2-color);
    --blue8: var(--blue1-color);
    --blue9: var(--blue0-color);
    --indigo0: var(--indigo9-color);
    --indigo1: var(--indigo8-color);
    --indigo2: var(--indigo7-color);
    --indigo3: var(--indigo6-color);
    --indigo4: var(--indigo5-color);
    --indigo5: var(--indigo4-color);
    --indigo6: var(--indigo3-color);
    --indigo7: var(--indigo2-color);
    --indigo8: var(--indigo1-color);
    --indigo9: var(--indigo0-color);
    --violet0: var(--violet9-color);
    --violet1: var(--violet8-color);
    --violet2: var(--violet7-color);
    --violet3: var(--violet6-color);
    --violet4: var(--violet5-color);
    --violet5: var(--violet4-color);
    --violet6: var(--violet3-color);
    --violet7: var(--violet2-color);
    --violet8: var(--violet1-color);
    --violet9: var(--violet0-color);
    --purple0: var(--purple9-color);
    --purple1: var(--purple8-color);
    --purple2: var(--purple7-color);
    --purple3: var(--purple6-color);
    --purple4: var(--purple5-color);
    --purple5: var(--purple4-color);
    --purple6: var(--purple3-color);
    --purple7: var(--purple2-color);
    --purple8: var(--purple1-color);
    --purple9: var(--purple0-color);
    --fuchsia0: var(--fuchsia9-color);
    --fuchsia1: var(--fuchsia8-color);
    --fuchsia2: var(--fuchsia7-color);
    --fuchsia3: var(--fuchsia6-color);
    --fuchsia4: var(--fuchsia5-color);
    --fuchsia5: var(--fuchsia4-color);
    --fuchsia6: var(--fuchsia3-color);
    --fuchsia7: var(--fuchsia2-color);
    --fuchsia8: var(--fuchsia1-color);
    --fuchsia9: var(--fuchsia0-color);
    --pink0: var(--pink9-color);
    --pink1: var(--pink8-color);
    --pink2: var(--pink7-color);
    --pink3: var(--pink6-color);
    --pink4: var(--pink5-color);
    --pink5: var(--pink4-color);
    --pink6: var(--pink3-color);
    --pink7: var(--pink2-color);
    --pink8: var(--pink1-color);
    --pink9: var(--pink0-color);
    --rose0: var(--rose9-color);
    --rose1: var(--rose8-color);
    --rose2: var(--rose7-color);
    --rose3: var(--rose6-color);
    --rose4: var(--rose5-color);
    --rose5: var(--rose4-color);
    --rose6: var(--rose3-color);
    --rose7: var(--rose2-color);
    --rose8: var(--rose1-color);
    --rose9: var(--rose0-color);
  }
}
[data-color-scheme="light"] {
  color-scheme: light;
  --gray0: var(--gray0-color);
  --gray1: var(--gray1-color);
  --gray2: var(--gray2-color);
  --gray3: var(--gray3-color);
  --gray4: var(--gray4-color);
  --gray5: var(--gray5-color);
  --gray6: var(--gray6-color);
  --gray7: var(--gray7-color);
  --gray8: var(--gray8-color);
  --gray9: var(--gray9-color);
  --red0: var(--red0-color);
  --red1: var(--red1-color);
  --red2: var(--red2-color);
  --red3: var(--red3-color);
  --red4: var(--red4-color);
  --red5: var(--red5-color);
  --red6: var(--red6-color);
  --red7: var(--red7-color);
  --red8: var(--red8-color);
  --red9: var(--red9-color);
  --orange0: var(--orange0-color);
  --orange1: var(--orange1-color);
  --orange2: var(--orange2-color);
  --orange3: var(--orange3-color);
  --orange4: var(--orange4-color);
  --orange5: var(--orange5-color);
  --orange6: var(--orange6-color);
  --orange7: var(--orange7-color);
  --orange8: var(--orange8-color);
  --orange9: var(--orange9-color);
  --amber0: var(--amber0-color);
  --amber1: var(--amber1-color);
  --amber2: var(--amber2-color);
  --amber3: var(--amber3-color);
  --amber4: var(--amber4-color);
  --amber5: var(--amber5-color);
  --amber6: var(--amber6-color);
  --amber7: var(--amber7-color);
  --amber8: var(--amber8-color);
  --amber9: var(--amber9-color);
  --yellow0: var(--yellow0-color);
  --yellow1: var(--yellow1-color);
  --yellow2: var(--yellow2-color);
  --yellow3: var(--yellow3-color);
  --yellow4: var(--yellow4-color);
  --yellow5: var(--yellow5-color);
  --yellow6: var(--yellow6-color);
  --yellow7: var(--yellow7-color);
  --yellow8: var(--yellow8-color);
  --yellow9: var(--yellow9-color);
  --lime0: var(--lime0-color);
  --lime1: var(--lime1-color);
  --lime2: var(--lime2-color);
  --lime3: var(--lime3-color);
  --lime4: var(--lime4-color);
  --lime5: var(--lime5-color);
  --lime6: var(--lime6-color);
  --lime7: var(--lime7-color);
  --lime8: var(--lime8-color);
  --lime9: var(--lime9-color);
  --green0: var(--green0-color);
  --green1: var(--green1-color);
  --green2: var(--green2-color);
  --green3: var(--green3-color);
  --green4: var(--green4-color);
  --green5: var(--green5-color);
  --green6: var(--green6-color);
  --green7: var(--green7-color);
  --green8: var(--green8-color);
  --green9: var(--green9-color);
  --emerald0: var(--emerald0-color);
  --emerald1: var(--emerald1-color);
  --emerald2: var(--emerald2-color);
  --emerald3: var(--emerald3-color);
  --emerald4: var(--emerald4-color);
  --emerald5: var(--emerald5-color);
  --emerald6: var(--emerald6-color);
  --emerald7: var(--emerald7-color);
  --emerald8: var(--emerald8-color);
  --emerald9: var(--emerald9-color);
  --teal0: var(--teal0-color);
  --teal1: var(--teal1-color);
  --teal2: var(--teal2-color);
  --teal3: var(--teal3-color);
  --teal4: var(--teal4-color);
  --teal5: var(--teal5-color);
  --teal6: var(--teal6-color);
  --teal7: var(--teal7-color);
  --teal8: var(--teal8-color);
  --teal9: var(--teal9-color);
  --cyan0: var(--cyan0-color);
  --cyan1: var(--cyan1-color);
  --cyan2: var(--cyan2-color);
  --cyan3: var(--cyan3-color);
  --cyan4: var(--cyan4-color);
  --cyan5: var(--cyan5-color);
  --cyan6: var(--cyan6-color);
  --cyan7: var(--cyan7-color);
  --cyan8: var(--cyan8-color);
  --cyan9: var(--cyan9-color);
  --sky0: var(--sky0-color);
  --sky1: var(--sky1-color);
  --sky2: var(--sky2-color);
  --sky3: var(--sky3-color);
  --sky4: var(--sky4-color);
  --sky5: var(--sky5-color);
  --sky6: var(--sky6-color);
  --sky7: var(--sky7-color);
  --sky8: var(--sky8-color);
  --sky9: var(--sky9-color);
  --blue0: var(--blue0-color);
  --blue1: var(--blue1-color);
  --blue2: var(--blue2-color);
  --blue3: var(--blue3-color);
  --blue4: var(--blue4-color);
  --blue5: var(--blue5-color);
  --blue6: var(--blue6-color);
  --blue7: var(--blue7-color);
  --blue8: var(--blue8-color);
  --blue9: var(--blue9-color);
  --indigo0: var(--indigo0-color);
  --indigo1: var(--indigo1-color);
  --indigo2: var(--indigo2-color);
  --indigo3: var(--indigo3-color);
  --indigo4: var(--indigo4-color);
  --indigo5: var(--indigo5-color);
  --indigo6: var(--indigo6-color);
  --indigo7: var(--indigo7-color);
  --indigo8: var(--indigo8-color);
  --indigo9: var(--indigo9-color);
  --violet0: var(--violet0-color);
  --violet1: var(--violet1-color);
  --violet2: var(--violet2-color);
  --violet3: var(--violet3-color);
  --violet4: var(--violet4-color);
  --violet5: var(--violet5-color);
  --violet6: var(--violet6-color);
  --violet7: var(--violet7-color);
  --violet8: var(--violet8-color);
  --violet9: var(--violet9-color);
  --purple0: var(--purple0-color);
  --purple1: var(--purple1-color);
  --purple2: var(--purple2-color);
  --purple3: var(--purple3-color);
  --purple4: var(--purple4-color);
  --purple5: var(--purple5-color);
  --purple6: var(--purple6-color);
  --purple7: var(--purple7-color);
  --purple8: var(--purple8-color);
  --purple9: var(--purple9-color);
  --fuchsia0: var(--fuchsia0-color);
  --fuchsia1: var(--fuchsia1-color);
  --fuchsia2: var(--fuchsia2-color);
  --fuchsia3: var(--fuchsia3-color);
  --fuchsia4: var(--fuchsia4-color);
  --fuchsia5: var(--fuchsia5-color);
  --fuchsia6: var(--fuchsia6-color);
  --fuchsia7: var(--fuchsia7-color);
  --fuchsia8: var(--fuchsia8-color);
  --fuchsia9: var(--fuchsia9-color);
  --pink0: var(--pink0-color);
  --pink1: var(--pink1-color);
  --pink2: var(--pink2-color);
  --pink3: var(--pink3-color);
  --pink4: var(--pink4-color);
  --pink5: var(--pink5-color);
  --pink6: var(--pink6-color);
  --pink7: var(--pink7-color);
  --pink8: var(--pink8-color);
  --pink9: var(--pink9-color);
  --rose0: var(--rose0-color);
  --rose1: var(--rose1-color);
  --rose2: var(--rose2-color);
  --rose3: var(--rose3-color);
  --rose4: var(--rose4-color);
  --rose5: var(--rose5-color);
  --rose6: var(--rose6-color);
  --rose7: var(--rose7-color);
  --rose8: var(--rose8-color);
  --rose9: var(--rose9-color);
}
[data-color-scheme="dark"],
[data-color-scheme="cool"],
[data-color-scheme="warm"] {
  color-scheme: dark;
  --gray0: var(--gray9-color);
  --gray1: var(--gray8-color);
  --gray2: var(--gray7-color);
  --gray3: var(--gray6-color);
  --gray4: var(--gray5-color);
  --gray5: var(--gray4-color);
  --gray6: var(--gray3-color);
  --gray7: var(--gray2-color);
  --gray8: var(--gray1-color);
  --gray9: var(--gray0-color);
  --red0: var(--red9-color);
  --red1: var(--red8-color);
  --red2: var(--red7-color);
  --red3: var(--red6-color);
  --red4: var(--red5-color);
  --red5: var(--red4-color);
  --red6: var(--red3-color);
  --red7: var(--red2-color);
  --red8: var(--red1-color);
  --red9: var(--red0-color);
  --orange0: var(--orange9-color);
  --orange1: var(--orange8-color);
  --orange2: var(--orange7-color);
  --orange3: var(--orange6-color);
  --orange4: var(--orange5-color);
  --orange5: var(--orange4-color);
  --orange6: var(--orange3-color);
  --orange7: var(--orange2-color);
  --orange8: var(--orange1-color);
  --orange9: var(--orange0-color);
  --amber0: var(--amber9-color);
  --amber1: var(--amber8-color);
  --amber2: var(--amber7-color);
  --amber3: var(--amber6-color);
  --amber4: var(--amber5-color);
  --amber5: var(--amber4-color);
  --amber6: var(--amber3-color);
  --amber7: var(--amber2-color);
  --amber8: var(--amber1-color);
  --amber9: var(--amber0-color);
  --yellow0: var(--yellow9-color);
  --yellow1: var(--yellow8-color);
  --yellow2: var(--yellow7-color);
  --yellow3: var(--yellow6-color);
  --yellow4: var(--yellow5-color);
  --yellow5: var(--yellow4-color);
  --yellow6: var(--yellow3-color);
  --yellow7: var(--yellow2-color);
  --yellow8: var(--yellow1-color);
  --yellow9: var(--yellow0-color);
  --lime0: var(--lime9-color);
  --lime1: var(--lime8-color);
  --lime2: var(--lime7-color);
  --lime3: var(--lime6-color);
  --lime4: var(--lime5-color);
  --lime5: var(--lime4-color);
  --lime6: var(--lime3-color);
  --lime7: var(--lime2-color);
  --lime8: var(--lime1-color);
  --lime9: var(--lime0-color);
  --green0: var(--green9-color);
  --green1: var(--green8-color);
  --green2: var(--green7-color);
  --green3: var(--green6-color);
  --green4: var(--green5-color);
  --green5: var(--green4-color);
  --green6: var(--green3-color);
  --green7: var(--green2-color);
  --green8: var(--green1-color);
  --green9: var(--green0-color);
  --emerald0: var(--emerald9-color);
  --emerald1: var(--emerald8-color);
  --emerald2: var(--emerald7-color);
  --emerald3: var(--emerald6-color);
  --emerald4: var(--emerald5-color);
  --emerald5: var(--emerald4-color);
  --emerald6: var(--emerald3-color);
  --emerald7: var(--emerald2-color);
  --emerald8: var(--emerald1-color);
  --emerald9: var(--emerald0-color);
  --teal0: var(--teal9-color);
  --teal1: var(--teal8-color);
  --teal2: var(--teal7-color);
  --teal3: var(--teal6-color);
  --teal4: var(--teal5-color);
  --teal5: var(--teal4-color);
  --teal6: var(--teal3-color);
  --teal7: var(--teal2-color);
  --teal8: var(--teal1-color);
  --teal9: var(--teal0-color);
  --cyan0: var(--cyan9-color);
  --cyan1: var(--cyan8-color);
  --cyan2: var(--cyan7-color);
  --cyan3: var(--cyan6-color);
  --cyan4: var(--cyan5-color);
  --cyan5: var(--cyan4-color);
  --cyan6: var(--cyan3-color);
  --cyan7: var(--cyan2-color);
  --cyan8: var(--cyan1-color);
  --cyan9: var(--cyan0-color);
  --sky0: var(--sky9-color);
  --sky1: var(--sky8-color);
  --sky2: var(--sky7-color);
  --sky3: var(--sky6-color);
  --sky4: var(--sky5-color);
  --sky5: var(--sky4-color);
  --sky6: var(--sky3-color);
  --sky7: var(--sky2-color);
  --sky8: var(--sky1-color);
  --sky9: var(--sky0-color);
  --blue0: var(--blue9-color);
  --blue1: var(--blue8-color);
  --blue2: var(--blue7-color);
  --blue3: var(--blue6-color);
  --blue4: var(--blue5-color);
  --blue5: var(--blue4-color);
  --blue6: var(--blue3-color);
  --blue7: var(--blue2-color);
  --blue8: var(--blue1-color);
  --blue9: var(--blue0-color);
  --indigo0: var(--indigo9-color);
  --indigo1: var(--indigo8-color);
  --indigo2: var(--indigo7-color);
  --indigo3: var(--indigo6-color);
  --indigo4: var(--indigo5-color);
  --indigo5: var(--indigo4-color);
  --indigo6: var(--indigo3-color);
  --indigo7: var(--indigo2-color);
  --indigo8: var(--indigo1-color);
  --indigo9: var(--indigo0-color);
  --violet0: var(--violet9-color);
  --violet1: var(--violet8-color);
  --violet2: var(--violet7-color);
  --violet3: var(--violet6-color);
  --violet4: var(--violet5-color);
  --violet5: var(--violet4-color);
  --violet6: var(--violet3-color);
  --violet7: var(--violet2-color);
  --violet8: var(--violet1-color);
  --violet9: var(--violet0-color);
  --purple0: var(--purple9-color);
  --purple1: var(--purple8-color);
  --purple2: var(--purple7-color);
  --purple3: var(--purple6-color);
  --purple4: var(--purple5-color);
  --purple5: var(--purple4-color);
  --purple6: var(--purple3-color);
  --purple7: var(--purple2-color);
  --purple8: var(--purple1-color);
  --purple9: var(--purple0-color);
  --fuchsia0: var(--fuchsia9-color);
  --fuchsia1: var(--fuchsia8-color);
  --fuchsia2: var(--fuchsia7-color);
  --fuchsia3: var(--fuchsia6-color);
  --fuchsia4: var(--fuchsia5-color);
  --fuchsia5: var(--fuchsia4-color);
  --fuchsia6: var(--fuchsia3-color);
  --fuchsia7: var(--fuchsia2-color);
  --fuchsia8: var(--fuchsia1-color);
  --fuchsia9: var(--fuchsia0-color);
  --pink0: var(--pink9-color);
  --pink1: var(--pink8-color);
  --pink2: var(--pink7-color);
  --pink3: var(--pink6-color);
  --pink4: var(--pink5-color);
  --pink5: var(--pink4-color);
  --pink6: var(--pink3-color);
  --pink7: var(--pink2-color);
  --pink8: var(--pink1-color);
  --pink9: var(--pink0-color);
  --rose0: var(--rose9-color);
  --rose1: var(--rose8-color);
  --rose2: var(--rose7-color);
  --rose3: var(--rose6-color);
  --rose4: var(--rose5-color);
  --rose5: var(--rose4-color);
  --rose6: var(--rose3-color);
  --rose7: var(--rose2-color);
  --rose8: var(--rose1-color);
  --rose9: var(--rose0-color);
}
[data-color-scheme="cool"] {
  --gray0: var(--gray9-cool);
  --gray1: var(--gray8-cool);
  --gray2: var(--gray7-cool);
  --gray3: var(--gray6-cool);
  --gray4: var(--gray5-cool);
  --gray5: var(--gray4-cool);
  --gray6: var(--gray3-cool);
  --gray7: var(--gray2-cool);
  --gray8: var(--gray1-cool);
  --gray9: var(--gray0-cool);
}
[data-color-scheme="warm"] {
  --gray0: var(--gray9-warm);
  --gray1: var(--gray8-warm);
  --gray2: var(--gray7-warm);
  --gray3: var(--gray6-warm);
  --gray4: var(--gray5-warm);
  --gray5: var(--gray4-warm);
  --gray6: var(--gray3-warm);
  --gray7: var(--gray2-warm);
  --gray8: var(--gray1-warm);
  --gray9: var(--gray0-warm);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  [data-color-scheme="system"] .prose {
    @apply prose-invert;  
  }
}
[data-color-scheme="dark"] .prose,
[data-color-scheme="cool"] .prose,
[data-color-scheme="warm"] .prose {
  @apply prose-invert;
}