@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    InterVariable, fallback-inter, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans--font-feature-settings: "case", "cpsp", "salt", "tnum", "zero";
}

@layer theme {
  @font-face {
    font-family: "fallback-inter";
    font-style: normal;
    src: local("Arial");
    ascent-override: 90.44%;
    descent-override: 22.52%;
    line-gap-override: 0%;
    size-adjust: 107.12%;
  }
  @font-face {
    font-family: "fallback-inter";
    font-style: italic;
    src: local("Arial Italic");
    ascent-override: 90.44%;
    descent-override: 22.52%;
    line-gap-override: 0%;
    size-adjust: 107.12%;
  }
}
